{% extends "_base.html" %}

{% block content %}

<h1 class="mb-6 text-3xl text-green-800 text-center font-bold">Balinese Text Classification</h1>
<div class="p-5 md:px-16 lg:px-64">
    <form method="post" action="">
        {% csrf_token %}
        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <label for="comment" class="sr-only">Your post</label>
                <textarea id="comment" rows="4" name="text"
                    class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                    placeholder="Write a post..." required=""></textarea>
            </div>
            <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-green-700 rounded-lg focus:ring-4 focus:ring-green-200 dark:focus:ring-green-900 hover:bg-green-800">
                    Predict
                </button>
            </div>
        </div>
    </form>
    {% if prediction %}
    <div class="bg-gray-50 border-gray-200 border text-gray-800 px-4 py-2">
        <h1 class="font-bold">Result:</h1>
        <p class="ms-auto text-gray-500 dark:text-gray-400">The text above is classified as
            <a href="#" class="text-green-600 dark:text-green-500 hover:underline">{{ label }}</a>
        </p>
        <p class="ms-auto text-right text-xs text-gray-500 dark:text-gray-400">Incorrect classification?<a href="#" class="text-blue-600 dark:text-blue-500 hover:underline"> Report</a>.</p>

    </div>
    {% endif %}
</div>

{% endblock content %}