{% extends "dashboard/_data.html" %}
{% block dashboard_data_content %}
    {% if is_error %}
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50  "
             role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <span class="font-medium">Error:</span>
                <ul class="mt-1.5 list-disc list-inside">
                    {% for v in errors.values %}
                        {% for e in v %}<li>{{ e.message }}</li>{% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="relative overflow-x-auto sm:rounded-lg"></div>
    <table class="w-full shadow-xs text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
            <tr>
                <th scope="col" class="w-14 py-3 px-2 text-center">No</th>
                <th scope="col" class="w-3/6 px-4 py-3">Text</th>
                <th scope="col" class="w-1/6 px-4 py-3">Label</th>
                <th scope="col" class="w-1/6 px-4 py-3">Category</th>
                <th scope="col" class="w-1/6 px-4 py-3">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_data %}
                <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 ">
                    <td class="text-center py-0.5">
                        <p>{{ forloop.counter0|add:show.start }}</p>
                    </td>
                    <th class="px-4 py-0.5 overflow-hidden">
                        <p class="h-9 text-left flex items-center justify-start">{{ data.text|safe|truncatechars:150 }}</p>
                    </th>
                    <td class="px-4 py-0.5">
                        <p>{{ data.label }}</p>
                    </td>
                    <td class="px-4 py-0.5">
                        <p>{{ data.category }}</p>
                    </td>
                    <td class="px-4 py-0.5">
                        <p>{{ data.created_at }}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
         aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500  mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-gray-900 ">{{ show.start }}-{{ show.end }}</span> of <span class="font-semibold text-gray-900 ">{{ show.total_data }}</span> data</span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            {% if show.previous %}
                <li>
                    <a href="/dashboard/data/testing?page={{ page_obj.number|add:' -1' }}"
                       class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700     ">Previous</a>
                </li>
            {% else %}
                <li>
                    <p class="flex hover:cursor-text items-center justify-center px-3 h-8 leading-tight text-gray-700 bg-gray-100 border border-gray-300 rounded-s-lg   ">
                        Previous
                    </p>
                </li>
            {% endif %}
            {% for item in pagination_list %}
                {% if item == "..." %}
                    <li>
                        <a href="#"
                           class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700     ">{{ item }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/dashboard/data/testing?page={{ item }}"
                           class="{% if page_obj.number == item %} bg-gray-100 {% else %} bg-white {% endif %} flex items-center justify-center px-3 h-8 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700     ">{{ item }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if show.next %}
                <li>
                    <a href="/dashboard/data/testing?page={{ page_obj.number|add:' 1' }}"
                       class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700     ">Next</a>
                </li>
            {% else %}
                <li>
                    <p class="flex hover:cursor-text items-center justify-center px-3 h-8 leading-tight text-gray-700 bg-gray-100 border border-gray-300 rounded-e-lg   ">
                        Next
                    </p>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock dashboard_data_content %}
